.bthome-page {
    min-width: 1200px;
    .bthome-banner {
        width: 100%;
        height: 480px;
        background: url('../images/bthome_banner_bg.png') no-repeat;
        background-size: 100% 100%;
        .bthome-banner-box {
            margin: 0 auto;
            width: 1200px;
            height: 480px;
            padding-top: 60px;
            box-sizing: border-box;
            .day-business {
                >p {
                    text-align: center;
                    &:nth-child(1) {
                        color: #F3F4F8;
                        font-size: 14px;
                    }
                    &:nth-child(2) {
                        color: #F3F4F8;
                        font-size: 14px;
                    }
                    &:nth-child(3) {
                        margin-top: 20px;
                        color: #F3F4F8;
                        font-size: 50px;
                    }
                }
            }
            .tip {
                margin: 0 auto;
                width:50px;
                height:4px;
                background:linear-gradient(270deg,rgba(126,0,255,1) 0%,rgba(0,120,255,1) 100%);
                border-radius:2px;
            }
            .day-distribution {
                margin-top: 140px;
                >p {
                    text-align: center;
                    &:nth-child(1) {
                        color: #666666;
                        font-size: 14px;
                    }
                    &:nth-child(2) {
                        color: #333333;
                        font-size: 24px;
                    }
                }
            }
            a {
                display: block;
                margin: 40px auto;
                width:216px;
                height:43px;
                background:linear-gradient(315deg,rgba(126,0,255,1) 0%,rgba(0,120,255,1) 100%);
                border-radius:22px;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 43px;
                text-align: center;
            }
            .down-text {
                margin-top: 140px;
                color: #666666;
                font-size: 14px;
                text-align: center;
            }
            .down-modal-box {
                position: relative;
                margin: 20px auto;
                display: flex;
                justify-content: space-between;
                width: 372px;
                height: 36px;
                >div {
                    width: 58px;
                    height: 36px;
                    background: #181B2A;
                    border-radius: 3px;
                    color: #F3F4F8;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                }
                >span {
                    line-height: 36px;
                }
            }
        }
    }
    .bthome-main-box {
        background: #F4F4F4;
        width: 100%;
        height: 660px;
        .bthome-main {
            padding-top: 110px;
            box-sizing: border-box;
            margin: 0 auto;
            width: 1200px;
            height: 660px;
            .con-title {
                >p {
                    text-align: center;
                    &:nth-child(1) {
                        color: #333333;
                        font-size: 32px;
                    }
                    &:nth-child(2) {
                        color: #333333;
                        font-size: 32px;
                        font-weight: 700;
                    }
                    &:nth-child(3) {
                        color: #999999;
                        font-size: 14px;
                    }
                }
            }
            .bt-info-item {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                width:680px;
                height:160px;
                background:rgba(255,255,255,1);
                border-radius:6px;
                &:nth-child(2) {
                    margin: 40px auto 20px;
                }
                >div {
                    margin-top: 20px;
                    width: 335px;
                    height: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >div {
                        >p {
                            text-align: center;
                            &:nth-child(1) {
                                color: #666666;
                                font-size: 14px;
                            }
                            &:nth-child(2) {
                                color: #333333;
                                font-size: 24px;
                            }
                            &:nth-child(3) {
                                color: #387DE0;
                                font-size: 14px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}