.storeHome-page {
    // 店铺基本信息
    .home-top {
        width: 1200px;
        margin: 0 auto;
        .code-info {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            >div:nth-child(1) {
                display: flex;
                >div:nth-child(1) {
                    width: 60px;
                    height: 60px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                >div:nth-child(2) {
                    margin-left: 10px;
                    h2 {
                        font-size: 18px;
                        line-height: 30px;
                    }
                    p {
                        span {
                            font-size: 18px;
                        }
                        em {
                            display: inline-block;
                            // float: left;
                            border: 1px solid #AE4E54;
                            margin: 5px 0 0 6px;
                            border-radius: 50px;
                            padding: 0 8px;
                            line-height: 18px;
                            font-size: 12px;
                            color: #AE4E54;
                        }
                    }
                }
            }
            >div:nth-child(2) {
                position: relative;
                ul {
                    display: flex;
                    margin-top: 10px;
                    li {
                        width: 162px;
                        margin-left: 60px;
                        &:nth-child(1) {
                            p {
                                color: #589065;
                            }
                        }
                        &:nth-child(2), &:nth-child(3) {
                            p {
                                color: #ae4e54;
                            }
                        }
                        &:nth-child(4) {
                            p {
                                color: #999999;
                            }
                        }
                    }
                }
                >div {
                    position: absolute;
                    width: 1px;
                    height: 30px;
                    border-left: 1px dashed #9B9B9B;
                    &:nth-child(1) {
                        top: 16px;
                        left: 200px;
                    }
                    &:nth-child(2) {
                        top: 16px;
                        right: 235px;
                    }
                }
                a {
                    display: block;
                    position: absolute;
                    right: 0px;
                    top: 30px;
                    height: 18px;
                    line-height: 18px;
                    font-size: 12px;
                    color: #4A90E2;
                }
            }
        }
        .store-info {
            padding: 10px 0;
            ul {
                width: 1000px;
                margin: 0 auto;
                li {
                    border-bottom: 1px solid #DFDFDF;
                    width: 430px;
                    height: 36px;
                    line-height: 36px;
                    float: left;
                    margin-right: 65px;
                    font-size: 12px;
                    color: #9B9B9B;
                }
            }
        }
    }
    // 人气商品
    .home-con {
        background: #fff;
        .home-con-main {
            width: 1200px;
            margin: 0 auto;
            .hot-title {
                padding: 75px 0 26px;
                width: 100%;
                height: auto;
                text-align: center;
                h2 {
                    height: 48px;
                    line-height: 48px;
                    font-size: 36px;
                    color: #333;
                    span {
                        position: relative;
                        display: inline-block;
                        padding: 0 62px;
                        >i:nth-child(1) {
                            background: url('../images/ico18.png') 0 14px no-repeat;
                            display: block;
                            width: 60px;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        >i:nth-child(2) {
                            background: url('../images/ico19.png') 14px no-repeat;
                            display: block;
                            width: 60px;
                            height: 100%;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
            .hot-list {
                ul {
                    width: 1100px;
                    margin: 0 auto;
                }
            }
        }
    }
}