.tipLogin-page {
    width: 100%;
    height: auto;
    .tipLogin-page-main {
        width: 1200px;
        margin: 0 auto;
        min-height: 600px;
        display: flex;
        display: -webkit-flex;
        align-items:center;
        justify-content:center;
    }
}